body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  min-height: 95vh;
}

h1 {
  font-size: 5rem;
  width: 60%;
}

footer {
  text-align: right;
  color: midnightblue;
}

img {
  width: 19rem;
} 

span {
  color: blue;
}

body > div > div.left.card {
  display: inline-block;
  width: 43%;
}

body > div > div.right.card {
  display: inline-block;
  width: 43%;
  margin-left: 10%;
}

body > div > div.left.card > img {
  float: left;
  margin-right: 10%;
}

body > div > div.right.card > img {
  float: left;
  margin-right: 10%;   
} 


@media (max-width: 480px) {
  body > div > img {
    width: 200px;
  }
}



